.button-layout {
	/*background: rgb(108, 5, 71);*/
	background: rgb(88, 165, 214);
	color: rgb(0, 0, 0);
	font-weight: normal;
	border-color: rgb(108, 5, 71);
	border-radius: 0px;
	border-style: dashed;
	border-width: 3px;
	padding: 10px;
	font-family: "Lucida Console", "Courier New", monospace;
}

.button-layout:hover {
	background: rgb(88, 145, 244);
}

.bar {
	background: rgba(48, 50, 51, 0.471);
}

#frame-terminal {
	background: rgb(147, 250, 184);
	/*color: white;*/
	font-weight: bold;
	border-radius: 0px;
	border-style: groove;
	border-width: 10px;
}

#frame-tools {
	background: rgb(88, 165, 214);
	color: rgb(0, 0, 0);
	font-weight: bold;
	border-radius: 0px;
	border-style: groove;
	border-width: 10px;
}

#frame-settings {
	background: rgb(252, 251, 175);
	color: rgb(0, 0, 0);
	font-weight: bold;
	border-radius: 0px;
	border-style: groove;
	border-width: 10px;
}

#frame-area {
	/*color: white;*/
	font-weight: bold;
	border-radius: 0px;
	border-style: groove;
	border-width: 10px;
}

#separator-sidebar {
	background: rgb(255, 255, 255);
	min-height: 2px;
}
